.form-element,
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-element {
  input[type='text'],
  select,
  textarea {
    height: 32px;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
  }

  textarea {
    height: auto;
  }

  input[type='color'] {
    padding: 0;
    height: 32px;
    width: 100%;
  }
}
.form-group {
  .form-buttons {
    width: 100%;
    display: flex;
    justify-content: end;
  }
}
